/*
main:
  overflow: hidden;
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%
  float: left;
  float: left;
  position: relative;
  right: 50%;
  display: block;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #000;
  text-decoration: underline overline;

side:
  right: 0%
  background-color: red;
  width: 20%
  text-align: center;
  padding: 0;
  display: block;
  padding: 15px 0;
  color: #fff;
  background-color: #000;

goals:
  Turn <nav> into a centered navigation list at the top of the page.
  A background color should stretch the entire length of the page.
  Turn <aside> into a side navigation bar on the right side of the page.
  The side navigation should scroll with the page (hint: fixed position).
  Both navigation bars should have no bullet points or underlines.
*/


#mainbar {
  background-color: blue;
  width: 100%;
}

#navbar-container ul {
  list-style-type: none;
}

#navbar-container ul li {
}

#navbar-container ul li a {
  text-decoration: none;
}

#sidebar {
  position: fixed;
  height: 100%;
}

#sidebar-container ul {
  list-style-type: none;
}

#sidebar-container ul li {
}

#sidebar-container ul li a {
  text-decoration: none;
}
