/*
main:
  float: left;
  position: relative;
  margin: 0;
  position: relative;
  float: left;
  float: left;
  right: 50%;
  display: block;
  text-decoration: underline overline;

side:
  width: 20%
  display: block;

goals:
  Turn <nav> into a centered navigation list at the top of the page.
  A background color should stretch the entire length of the page.
  Turn <aside> into a side navigation bar on the right side of the page.
  The side navigation should scroll with the page (hint: fixed position).
  Both navigation bars should have no bullet points or underlines.
*/


#main-navbar {
  background-color: blue;
  width: 100%;
  overflow: hidden;
}

#navbar-container ul {
  position: relative;
  left: 50%;
  padding: 0;
  list-style-type: none;
  display: block;
}

#navbar-container ul li {
  padding: 10px 20px;
}

#navbar-container ul li a {
  text-decoration: none;
  color: #fff;
}

#navbar-container ul li a:hover {
  background-color: #000;
}

#sidebar {
  right: 0%;
  position: fixed;
  height: 100%;
  background-color: red;
}

#sidebar-container ul {
  padding: 0;
  list-style-type: none;
}

#sidebar-container ul li {
  text-align: center;
  padding: 15px 0;
}

#sidebar-container ul li a {
  text-decoration: none;
  color: #fff;
}

#sidebar-container ul li a:hover {
  background-color: #000;
}
